# General Data Science
numpy
pandas
matplotlib
scikit-learn

# Jupyter
jupyter
ipykernel

# Hugging Face
torch
transformers
datasets
huggingface_hub
accelerate
evaluate

# Embeddings
sentence-transformers

# Fine-Tuning
peft
trl

# RAG
langchain
langchain-community
chromadb
pypdf

# Modal
modal
